
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  JAC internal dashboard
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        JAC Internal Dashboard
        <span class="govuk-caption-xl">Beta</span>
      </h1>{{releaseVersion | log }}
      <p>
        JAC internal dashboard
      </p>

      <p>
        More information
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>We would like to share.</p>

      <p>More information</p>

      <video width="300" height="650" controls autoplay loop>
        <source src="/public/videos/File from iOS (1).mp4" type="video/mp4">
   
        Your browser does not support the video tag.
      </video>

      <video width="300" height="650" controls autoplay loop>
        <source src="/public/videos/File from iOS.mp4" type="video/mp4">
   
        Your browser does not support the video tag.
      </video>

      <h2 class="govuk-heading-m">Links and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation - https://design-system.service.gov.uk</a></li>
        <li>
          <a href="staff-prototype.herokuapp.com/">
            Staff journey is now ready, iteration 2 - https://staff-prototype.herokuapp.com/ - p:admin, u:admin
          </a>
        </li>
        <li>
          <a href="https://applicant-prototype.herokuapp.com">
            Applicant journey is now ready, iteration 2 - https://applicant-prototype.herokuapp.com - p:admin, u:admin
          </a>
        </li>      
      </ul>
    </div>
</div>

{% endblock %}
