
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  JAC internal dashboard
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        JAC Internal Dashboard
        <span class="govuk-caption-xl">Beta</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">Latest Roadmap</h2>

      <picture> 

         <img src="/public/images/roadmap.png" style="width: 600px" alt="roadmap" > 
      </picture>

      <h2 class="govuk-heading-m">Links and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="http://staff-prototype.herokuapp.com/">
            Staff journey is now ready, iteration 2 - https://staff-prototype.herokuapp.com/ - p:admin, u:admin
          </a>
        </li>
        <li>
          <a href="https://applicant-prototype.herokuapp.com">
            Applicant journey is now ready, iteration 2 - https://applicant-prototype.herokuapp.com - p:admin, u:admin
          </a>
        </li>      
      </ul>
    </div>
</div>

{% endblock %}
